<a href="https://colab.research.google.com/github/sumedhasjs/Fake-News-Detection/blob/main/Fake_News_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as n

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
true = 'gdrive/My Drive/fake news/True.csv'
fake='gdrive/My Drive/fake news/Fake.csv'

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
truenews = pd.read_csv(true)
fakenews = pd.read_csv(fake)

In [ ]:
truenews.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [ ]:
fakenews.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [ ]:

truenews.describe()

,title,text,subject,date
count,21417,21417,21417,21417
unique,20826,21192,2,716
top,Factbox: Trump fills top jobs for his administ...,(Reuters) - Highlights for U.S. President Dona...,politicsNews,"December 20, 2017"
freq,14,8,11272,182

In [ ]:
fakenews.describe()

,title,text,subject,date
count,23481,23481,23481,23481
unique,17903,17455,6,1681
top,MEDIA IGNORES Time That Bill Clinton FIRED His...,,News,"May 10, 2017"
freq,6,626,9050,46

In [ ]:
truenews['True/Fake']='True'
fakenews['True/Fake']='Fake'

In [ ]:
news = pd.concat([truenews, fakenews])
news["Article"] = news["title"] + news["text"]
news.sample(frac = 1)

,title,text,subject,date,True/Fake,Article
5115,Paul Ryan Gives The MOST DISAPPOINTING Respon...,Tuesday night was big for Speaker of The House...,News,"August 10, 2016",Fake,Paul Ryan Gives The MOST DISAPPOINTING Respon...
15537,Gunmen fire shots at Greece's socialist party ...,ATHENS (Reuters) - Two gunmen fired a round of...,worldnews,"November 6, 2017",True,Gunmen fire shots at Greece's socialist party ...
21039,GROUP WITH TERROR TIES Encourages Muslims To S...,The idea that a tax-exempt radical organizatio...,left-news,"Feb 3, 2016",Fake,GROUP WITH TERROR TIES Encourages Muslims To S...
17937,Bonkers! Watch MSNBC Anchor Lawrence O’Donnell...,Lawrence O Donnell had a really bad night on A...,left-news,"Sep 20, 2017",Fake,Bonkers! Watch MSNBC Anchor Lawrence O’Donnell...
15846,BREAKING: WHY DID MASSACHUSETTS OFFICIALS WAIT...,Where was the media coverage when this black t...,politics,"Apr 10, 2015",Fake,BREAKING: WHY DID MASSACHUSETTS OFFICIALS WAIT...
...,...,...,...,...,...,...
7436,Netanyahu sees U.S.-Israel ties 'reaching new ...,JERUSALEM (Reuters) - Prime Minister Benjamin ...,politicsNews,"November 9, 2016",True,Netanyahu sees U.S.-Israel ties 'reaching new ...
21723,THIS STATE WILL INCLUDE TRANSGENDER CURRICULUM...,Because there s nothing more compassionate tha...,left-news,"May 18, 2015",Fake,THIS STATE WILL INCLUDE TRANSGENDER CURRICULUM...
17625,"Brexit talks deadlock on cash, Barnier eyes mo...",BRUSSELS (Reuters) - Brexit talks are deadlock...,worldnews,"October 12, 2017",True,"Brexit talks deadlock on cash, Barnier eyes mo..."
5221,"NSA risks talent exodus amid morale slump, Tru...",WASHINGTON (Reuters) - The National Security A...,politicsNews,"February 28, 2017",True,"NSA risks talent exodus amid morale slump, Tru..."
13098,Spain makes largest cocaine bust in 18 years,MADRID (Reuters) - Spain has made its largest ...,worldnews,"December 5, 2017",True,Spain makes largest cocaine bust in 18 yearsMA...

In [ ]:
import nltk
nltk.download('stopwords')
import string

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
def TextProcessing(sentance):
    RemovedPunc = [char for char in sentance if char not in string.punctuation]
    RemovedPunc = ''.join(RemovedPunc)
    
    # Convert string to lowercase and remove stopwords
    CleanedString = [word for word in RemovedPunc.split() if word.lower() not in stopwords.words('english')]
    return CleanedString

In [ ]:
news['Clean Text'] = news['Article'].apply(TextProcessing)

In [ ]:
news.sample(5)

,title,text,subject,date,True/Fake,Article,Clean Text
20530,WATCH: THE 2006 CHILD MOLESTER AD Bernie Sande...,We all know the defense of children comes dead...,left-news,"May 24, 2016",Fake,WATCH: THE 2006 CHILD MOLESTER AD Bernie Sande...,"[WATCH, 2006, CHILD, MOLESTER, AD, Bernie, San..."
20822,"ISIS Is On The March, Belgium Is Burning, Whil...",Party on Barry Expect to see more of this beh...,left-news,"Mar 23, 2016",Fake,"ISIS Is On The March, Belgium Is Burning, Whil...","[ISIS, March, Belgium, Burning, Obama, Hangs, ..."
2139,House Intelligence Committee: Trump Lied Abou...,Less than 24 hours after Trump s press secreta...,News,"March 15, 2017",Fake,House Intelligence Committee: Trump Lied Abou...,"[House, Intelligence, Committee, Trump, Lied, ..."
11908,HYPOCRISY ON STEROIDS: Check Out HATEFUL Trump...,"Lady Gaga, who protested in front of Trump Tow...",politics,"Jan 14, 2017",Fake,HYPOCRISY ON STEROIDS: Check Out HATEFUL Trump...,"[HYPOCRISY, STEROIDS, Check, HATEFUL, Trump, B..."
2808,"Trump calls son 'high-quality person,' applaud...",WASHINGTON (Reuters) - President Donald Trump ...,politicsNews,"July 11, 2017",True,"Trump calls son 'high-quality person,' applaud...","[Trump, calls, son, highquality, person, appla..."

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
BagOfWordsTransformer = CountVectorizer(analyzer=TextProcessing).fit(news['Clean Text'])

print(len(BagOfWordsTransformer.vocabulary_))

39099

In [ ]:
NewsBOW = BagOfWordsTransformer.transform(news['Clean Text'])

In [ ]:
print('Shape of Sparse Matrix: ', NewsBOW.shape)
print('Amount of Non-Zero occurences: ', NewsBOW.nnz)

Shape of Sparse Matrix:  (44898, 39099)
Amount of Non-Zero occurences:  44898

In [ ]:
sparsity = (100.0 * NewsBOW.nnz / (NewsBOW.shape[0] * NewsBOW.shape[1]))
print('sparsity: {}'.format(round(sparsity)))

sparsity: 0

In [ ]:
from sklearn.feature_extraction.text import TfidfTransformer

tf_idf_transformer = TfidfTransformer().fit(NewsBOW)
news_tf_idf = tf_idf_transformer.transform(NewsBOW)
print(news_tf_idf.shape)

(44898, 39099)

In [ ]:
from sklearn.naive_bayes import MultinomialNB
fakenews_detect_model = MultinomialNB().fit(news_tf_idf, news['True/Fake'])

In [ ]:
predictions = fakenews_detect_model.predict(news_tf_idf)
print(predictions)

['True' 'True' 'True' ... 'Fake' 'Fake' 'Fake']

In [ ]:
from sklearn.metrics import classification_report
print (classification_report(news['True/Fake'], predictions))

              precision    recall  f1-score   support

        Fake       1.00      1.00      1.00     23481
        True       1.00      1.00      1.00     21417

    accuracy                           1.00     44898
   macro avg       1.00      1.00      1.00     44898
weighted avg       1.00      1.00      1.00     44898

In [ ]:
from sklearn.model_selection import train_test_split

news_train, news_test, text_train, text_test = train_test_split(news['Article'], news['True/Fake'], test_size=0.3)

print(len(news_train), len(news_test), len(news_train) + len(news_test))

31428 13470 44898

In [ ]:
from sklearn.pipeline import Pipeline

pipeline = Pipeline([
    ('bow', CountVectorizer(analyzer=TextProcessing)),  # strings to token integer counts
    ('tfidf', TfidfTransformer()),  # integer counts to weighted TF-IDF scores
    ('classifier', MultinomialNB()),  # train on TF-IDF vectors w/ Naive Bayes classifier
])
pipeline.fit(news_train,text_train)

Pipeline(steps=[('bow',
                 CountVectorizer(analyzer=<function TextProcessing at 0x7fee15742dd0>)),
                ('tfidf', TfidfTransformer()),
                ('classifier', MultinomialNB())])

In [ ]:
predictions = pipeline.predict(news_test)

In [ ]:
print(classification_report(predictions,text_test))

              precision    recall  f1-score   support

        Fake       0.96      0.98      0.97      6880
        True       0.98      0.95      0.97      6590

    accuracy                           0.97     13470
   macro avg       0.97      0.97      0.97     13470
weighted avg       0.97      0.97      0.97     13470